body {
    background-color:skyblue
    ;font-family:arial, helvetica, sans-serif, monospace
}
Figure{
    width: 30%;
    background: /*#FFD700*/gold
}
.rotate{
    transform: rotate(270deg);
    display:block;
    margin-left:auto;
    margin-right:auto;
}
img{
    width:80%;
    
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
div.flex{
   display:flex; 
}
section{
    font-family:courier, fixed, monospace;
    background:lightcoral;
    width:90%;
    margin:auto;
    padding:1em;
}

div.thinglink{
 border-style: none; 
 padding: 10px; 
 width: 960px; 
 height: 360px;
 }
 .thinglink{
     width: 960px; 
     height: 360px;
 }
.graph{
    display:block;
    margin-left:auto;
    margin-right:auto;
    }